/* App css */
#main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y:hidden;

}

#left {
  /* height: 85vh; */
  border-radius: 15px;
  background-color: whitesmoke;
  overflow-y: scroll;
  display: flex;
  width: 400px;
}

#right {
  background-color: rgb(231, 230, 230);
  height: 85vh;
  overflow-y: scroll;
  border-radius: 15px;
  padding: 0px;
  display: flex;
  flex: 1;
}

/* right tab */
@media (max-width: 1300px) {

  #left {
    display: none;
  }

  #right {
    width: 100%;
    height: auto;
  }

  #main {
    flex-direction: column;
  }
}
.footer {
  background-color: #f8f9fa; /* Light gray background */
  color: #343a40; /* Dark text color for contrast */
  padding: 5px; /* Add some padding */
  position: relative; /* Ensure it stays at the bottom */
  bottom: 0;
  width: 100%; /* Center align text */
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  font-size: 14px; /* Adjust font size */
  height: fit-content;
}

.footer p {
  margin: 0; /* Remove default margins */

}




